<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-epsonlwprint" version="0.0.1">
    <name>Cordova LW Print</name>
    <description>An Android Cordova plugin to communicate with epson LW printers with proprietary SDK.</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,printing,epson,labels</keywords>

    <author>Melvin Satyadi</author>
    <repo>https://github.com/MelvinSatyadi/CordovaEpsonLWPrint.git</repo>
    <issue>https://github.com/MelvinSatyadi/CordovaEpsonLWPrint/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/EpsonLWPrint.js" name="epsonLWPrint">
        <clobbers target="EpsonLWPrint" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EpsonLWPrint">
                <param name="android-package" value="com.melvinsatyadi.cordova.plugin.EpsonLWPrint"/>
            </feature>
        </config-file>

        <source-file src="src/android/EpsonLWPrint.java" target-dir="src/com/melvinsatyadi/cordova/plugin" />
        <source-file src="src/android/DeviceInfo.java" target-dir="src/com/melvinsatyadi/cordova/plugin" />
        <source-file src="src/android/libs/LWPrint.jar" target-dir="libs" />
        <source-file src="src/android/libs/json.jar" target-dir="libs" />

    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        <uses-permission android:name="android.permission.BLUETOOTH"/>
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    </config-file>

    </platform>
</plugin>